body {
    background: rgb(212, 208, 208);
}

.titel {
    text-align: center;
    align-items: center;
    background: #790075;
    padding: 5px;
    margin: 5px;
    font-size: 35px;
    color: rgb(251, 248, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.all-element {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 222px;
    justify-items: center;
    background-color: #adc4ae;
    font-size: larger;
    border-style: solid;
    width: 780px;
    height: 900px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.f1 {
    margin: 18px;
}

.f2 {
    margin: 18px;
}

.f3 {
    margin: 18px;
}

.f4 {
    margin: 18px;
}

.f5 {
    margin: 18px;
}

.f6 {
    margin: 18px;
}

.f7 {
    margin: 18px;
}

.f8 {
    margin: 18px;
}

.outer-footer {
    text-align: center;
    padding: 30px;
    background: #790075;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}